appdirs==1.4.3
APScheduler==3.6.3
apt-xapian-index==0.49
argcomplete==1.8.1
asgiref==3.2.10
astroid==2.4.2
backcall==0.1.0
beautifulsoup4==4.8.2
blinker==1.4
boto3==1.14.47
botocore==1.17.47
breezy==3.0.2
Brotli==1.0.9
CacheControl==0.12.6
cachetools==4.2.2
Cerberus==1.3.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorhash==1.0.2
command-not-found==0.3
configobj==5.0.6
configparser==5.0.0
crcmod==1.7
cryptography==2.8
csvalidate==1.1.1
cupshelpers==1.0
dateutils==0.6.11
dbus-python==1.2.16
decorator==4.4.2
deepdiff==5.0.2
defer==1.0.6
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.0.0
docutils==0.15.2
drcsim==2.0
dulwich==0.19.15
entrypoints==0.3
fastimport==0.9.8
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.5.0
Flask-Cors==3.0.8
Flask-CSV==1.2.0
Flask-JSON==0.3.4
Flask-JWT-Extended==3.24.1
Flask-Mail==0.9.1
flask-talisman==0.7.0
gcovr==4.2
google-api-core==1.30.0
google-api-python-client==2.11.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-cloud-core==1.7.1
google-cloud-firestore==2.1.3
google-cloud-storage==1.40.0
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
grpcio==1.38.1
gunicorn==20.0.4
html5lib==1.0.1
httpie==1.0.3
httplib2==0.19.1
idna==2.10
importlib-metadata==1.7.0
ipython==7.13.0
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.1
jmespath==0.10.0
joblib==1.0.0
kazam==1.4.5
keyboard==0.13.5
keyring==18.0.1
keyrings.alt==3.4.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libevdev==0.5
lxml==4.5.0
MarkupSafe==1.1.1
marshmallow==3.8.0
mccabe==0.6.1
meld==3.20.2
mmh3==2.5.1
mongoengine==0.20.0
mongoengine-goodjson==1.1.8
more-itertools==4.2.0
msgpack==1.0.2
netifaces==0.10.9
nltk==3.5
nose==1.3.7
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
ordered-set==4.0.2
packaging==20.8
parso==0.5.2
passlib==1.7.2
password-strength==0.0.3.post2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.2.0
pip-review==1.1.0
pipenv==2020.11.15
progressbar==2.5
prompt-toolkit==2.0.10
proto-plus==1.19.0
protobuf==3.17.3
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pymongo==3.11.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.14.1
pysvn==1.9.9
python-apt==2.0.0
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-distutils-extra==2.39
python-dotenv==0.14.0
python-gnupg==0.4.5
python-slugify==4.0.1
python-xlib==0.23
pytz==2020.1
pyudev==0.21.0
pyxdg==0.26
PyYAML==5.3.1
rabbitvcs==0.18
redis==3.5.3
regex==2020.11.13
requests==2.22.0
requests-unixsocket==0.2.0
rsa==4.7.2
s3transfer==0.3.3
scipy==1.3.3
scout-apm==2.15.2
SecretStorage==2.3.1
sentry-sdk==0.16.5
simplejson==3.16.0
sip==4.19.21
six==1.15.0
soupsieve==1.9.5
SQLAlchemy==1.3.19
ssh-import-id==5.10
systemd-python==234
text-unidecode==1.3
toml==0.10.1
tqdm==4.56.0
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.0.17
virtualenv-clone==0.5.4
wadllib==1.3.3
walrus==0.8.1
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
wxPython==4.0.7
xkit==0.0.0
zipp==3.1.0
